<!-- <p>orders-placed works!</p>
{{tableData | json}} -->

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> <a  class="text-primary" (click)="showDescription(element._id)"> {{element._id}} </a></td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Order Date </th>
        <td mat-cell *matCellDef="let element"> {{element.OderDate}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Total_Cost">
        <th mat-header-cell *matHeaderCellDef> Total Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.TotalCost}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  